<h1>Main#index</h1>
<p>기본 화면</p>


<div name="sidebar">
<ul>
  <li>사이드바</li>
  <li><%=link_to '공지사항',notices_path %></li>
  <li><%=link_to '강의',lectures_path%></li>
  <li><%=link_to '강의노트',lecture_notes_path %></li>
  <li><%=link_to '자유게시판',posts_path %></li>
  <li><%=link_to '갤러리',galleries_path %></li>

</ul>
</div>
<%if user_signed_in?%>
    <%=link_to '로그아웃', destroy_user_session_path,method: 'delete'%>
<%else%>
<%=link_to '로그인', new_user_session_path %>
<%=link_to '회원가입',new_user_registration_path%>

<%end%>
