<div class="card">
  <div class="header">
      <h4 class="title">게시판 작성</h4>
  </div>
  <div class="content">
  <%= form_for(post) do |f| %>
          <div class="row">
            <% if post.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(post.errors.count, "error") %> prohibited this notice from being saved:</h2>
                <ul>
                <% post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
              <div class="col-md-12">
                  <div class="form-group">
                      <label>제목</label>
                      <%= f.text_field :title, class: 'form-control border-input', placeholder: '제목' %>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>내용</label>
                      <%= f.text_area :content, class: 'form-control border-input', placeholder: '내용', rows: 15 %>
                  </div>
              </div>
          </div>
          <div class="text-center">
              <%= f.submit '완료', class: 'btn btn-info btn-fill btn-wd' %>
          </div>
          <div class="clearfix"></div>
      <% end %>
  </div>
</div>
